@font-face {
  font-family: Ginger, sans-serif;
  src: url(ginger_bold.otf);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Ginger, sans-serif;
  background-color: #fbf3e3;
  cursor: crosshair;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.envelope:hover {
  background-color: #3b5998;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

#logo {
  width: 300px;
  height: auto;
  margin-bottom: -50px;
}

#intro {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

#intro h2 {
  font-size: 50px;
  margin-top: 15px;
}

#intro h2 > a {
  text-decoration: none;
  color: #000;
}

#intro h2 > a:hover {
  color: #ff7d00;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.projects_img img {
  width: 300px;
  height: 300px;
}

.projects_img {
  padding-right: 80px;
}

.projects_text {
  height: 300px;
  width: 300px;
  padding-left: 80px;
}

.projects_text a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.projects_text a:hover {
  color: #ff7d00;
}

.projects_text i {
  font-size: 25px;
}

.arrow-right {
  margin-left: 10px;
  transform: rotate(-45deg);
}

.projects_text h4 {
  margin-top: -15px;
}

.projects_text h5 {
  position: absolute;
  bottom: 0;
  color: #999;
}

.also {
  text-align: center;
}

.hi {
  display: inline-block;
  text-align: left;
}

.projects_text_1 {
  margin-top: 50px;
}

.projects_text_1 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.projects_text_1 a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.projects_text_1 a:hover {
  color: #ff7d00;
}

.projects_text_1 i {
  font-size: 25px;
}

.projects_text_1 h4 {
  margin-top: -15px;
}

.photo_me img {
  width: 400px;
}

.photo_me {
  padding-right: 40px;
}

.bio {
  width: 500px;
  padding-left: 40px;
}

.section_title {
  margin-left: 50px;
  font-size: 50px;
}

.site-footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  width: 700px;
  margin: 0 auto;
}

.site-footer .social-icons {
  /* text-align: right; */
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}
.copyright-text {
  /* margin: 0; */
}

.text h3 {
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #900;
  margin-top: 0px;
}

.overlay {
  height: 100%;
  max-height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fbf3e3;
  transition: 0.5s;
  overflow-y: scroll;
  inset: 0;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 50%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.noscroll {
  overflow: hidden;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  color: #ff7d00;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

@media screen and (max-width: 600px) {
  #intro {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .projects_img {
    text-align: center;
    padding-right: 0px;
  }

  .projects_text {
    padding-left: 0px;
  }

  .projects_text h5 {
    bottom: 5%;
  }

  .hi {
    text-align: center;
  }

  .projects_text_1 a {
    font-size: 35px;
  }

  .photo_me img {
    width: 70%;
    text-align: center;
  }

  .photo_me {
    padding-right: 0px;
    text-align: center;
  }

  .bio {
    width: 70%;
    padding-left: 0px;
    margin-top: 20px;
  }

  .site-footer {
    width: 100%;
    padding: 0px;
  }

  .section_title {
    margin-left: 0px;
    text-align: center;
  }
}
