	#container {
		width: 1000px;
		background-color: #FFEEDD;
		background-position: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	#nav-wrapper{
		background-color: #80734A;
		font-size: 0;
		margin: 0px;
	}
	#nav{
		width: 950px;
		height: auto;
		margin: 0 auto;
	}

	#nav a {
		width: 230px;
		height: 50px;
		display: inline-block;
		text-align: center;
		color: black;
		font-size: 21px;
		text-decoration: none;
		line-height: 50px;
	}

	#nav a:hover{
		background-color: #9381FF;
		color: white;
	}

	#nav .active {
		background-color: #606c38;
		color: white;
	}

	#footer{
		background-color: #D3C4E3;
		text-align: center;
		background-size: cover;
		height: 30px;
		font-size: 15px;
		line-height: 1px;
		padding: 1px;
		margin: 0px;
	}

	.clearfloat{
		clear: both;
	}



	body{
		background-color: #9381FF;
		margin: 0px;
	}
	